@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<!-- banner-2 -->
<div class="page-head_agile_info_w3l">

</div>
<!-- //banner-2 -->
<!-- page -->
<div class="services-breadcrumb">
    <div class="agile_inner_breadcrumb">
        <div class="container">
            <ul class="w3_short">
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    <i>|</i>
                </li>
                <li>Privacy Policy</li>
            </ul>
        </div>
    </div>
</div>
<!-- //page -->
<!-- Terms of use-section -->
<section class="terms-of-use">
    <!-- terms -->
    <div class="terms">
        <div class="container">
            <!-- tittle heading -->
            <h3 class="tittle-w3l">
                Privacy Policy
                <span class="heading-style">
                    <i></i>
                    <i></i>
                    <i></i>
                </span>
            </h3>
            <!-- //tittle heading -->
            <h6>Privacy Policy</h6>
            <p>
                We value the trust you place in us. That's why we insist upon the highest standards for secure transactions and customer
                information privacy. Please read the following statement to learn about our information gathering and dissemination
                practices.
            </p>
            
            <h6>Personally Identifiable Information and other Information</h6>
            

            <h6>Security Precautions</h6>
            

            <h6>What Information Can I Access?</h6>
            
            <h6> Advertisements on Vegebasket Store</h6>
           
            <h6>Your Consent</h6>
            <ol start="1">
                <li>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.it has a more-or-less normal distribution
                    of letters, as opposed Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                </li>
               
            </ol>
            <h6>Policy updates</h6>
            <p>
                Be sure there isn't anything embarrassing hidden in the middle of text. 
            </p>
        </div>
    </div>
    <!-- /terms -->
</section>
<!-- //Terms of use-section -->
